body {
  margin: 0;
}

#canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.button {
  width: 60px; /* Aumenta la dimensione dei pulsanti */
  height: 60px;
  background-color: rgba(255, 255, 255, 0.9); /* Colore di sfondo più opaco */
  border: 2px solid #000; /* Bordo più spesso */
  border-radius: 10px; /* Angoli arrotondati */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-size: 24px; /* Aumenta la dimensione del testo */
  cursor: pointer;
  transition: background-color 0.3s; /* Transizione per il colore di sfondo */
  user-select: none; /* Disabilita la selezione del testo */
  -webkit-user-select: none; /* Per Safari */
  -moz-user-select: none; /* Per Firefox */
  -ms-user-select: none; /* Per Internet Explorer/Edge */
}

.button:hover {
  background-color: rgba(200, 200, 200, 0.8); /* Cambia colore al passaggio del mouse */
}

#controls {
  position: fixed; /* Cambia da absolute a fixed per mantenerli visibili */
  bottom: 20px; /* Distanza dal fondo */
  left: 20px; /* Distanza dal lato sinistro */
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000; /* Assicurati che siano sopra altri elementi */
}

/* Contenitore per i pulsanti delle frecce */
#arrow-controls {
  display: flex; /* Layout orizzontale per le frecce */
  justify-content: center; /* Centra le frecce orizzontalmente */
}

#arrow-controls > div {
  margin: 0 25px; /* Spazio tra le frecce */
}

#controlsCamera {
  position: fixed; /* Cambia da absolute a fixed per mantenerli visibili */
  bottom: 20px; /* Distanza dal fondo */
  left: 75%; /* Distanza dal lato sinistro */
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000; /* Assicurati che siano sopra altri elementi */
}

/* Nascondi i controlli per schermi più grandi */
#controls, #controlsCamera {
  display: none;
}

/* Mostra i controlli solo per schermi di dimensioni inferiori a 768px */
@media (max-width: 768px) {
  #controls, #controlsCamera {
    display: flex; /* Mostra i controlli in modalità cellulare */
  }
}